body, * {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.container-content {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}

/* H E A D E R - H O M E P A G E */
header.intro {
  z-index: 1 !important;
  position: relative;
  height: 100vh;
}

header.intro:before {
  background-color: rgba(0,0,0,.75);
  z-index: 2 !important;
  position: absolute;
  height: 100%;
  content: "";
  width: 100%;
}

header.intro article {
  transform: translate(-50%, -50%);
  z-index: 2 !important;
  position: absolute;
  text-align: center;
  color: #ffffff;
  width: 500px;
  left: 50%;
  top: 50%;
}

header.intro article p {
  font-size: 24px;
  font-weight: 100;
}

header.intro article img {
  background: #e2c043;
  border-radius: 50%;
  width: 350px;
  margin-bottom: 15px;
}

header.intro article a {
  border: 1px solid #ffffff;  
  display: inline-block;
  text-decoration: none;
  transition: .3s ease;
  padding: 10px 15px;
  font-weight: 200;
  color: #ffffff;
  margin: 15px;
}

header.intro article a:last-child {
  border: 1px solid #e2c043;  
  background-color: #e2c043;
  color: #000000;
}

header.intro article a:hover:last-child {
  background-color: transparent;
  border: 1px solid #e2c043;  
  color: #e2c043;
}

header.intro article a:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;  
  transform: scale(1.1);
  color: #000000;
}

header.intro video {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
}


/* H E A D E R - N A V I G A T I O N - S U B P A G E  */
header.page {
  background-color: none;
  transition: 1s ease;
  color: #ffffff;
  overflow: hidden;
  position: fixed;
  padding: 30px 0;
  z-index: 999;
  width: 100%;
  top: 0;
}

header.page article img {
  width: 250px;
  float: left;
}

header.page article span {
  margin-right: 45px;
  color: #ffffff;
  float: right;
  transition: .3s ease;
}

header.page article span:hover {
  color: #e2c043;
}

header.page article span:after {
  content: "Menu";
  margin-left: 15px;
  text-transform: uppercase;
}

header.page article a img {
  background-color: #e2c043;
  margin: -15px 0 0 30px;
  transition: .75s ease;
  border-radius: 50%;
  width: 70px;
}

header.page article a:hover img {
  transform: rotate(360deg);
}

header.page article a:after {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  content: "Soundbike";
  transition: .5s ease;
  margin-top: -7.5px;
  margin-left: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 35px;
}

.darkNav {
  border-bottom: 2px solid rgba(0,0,0,.1);
  background-color: #40434e!important;
  padding: 30px 0 15px !important;
}

header.page article a:hover:after {
  color: #e2c043;
}

@media screen and (max-width: 500px){
  header.page article a:after {display: none;}
}













/* N A V I G A T I O N - M E N U */
nav.overlay {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999 !important;
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

nav article {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: 5px;
  position: absolute;
  text-align: left;
  left: 50%;
  top: 50%;
}

nav article a {
  text-decoration: none;
  padding-bottom: 25px;
  position: relative;
  transition: 0.3s;
  font-weight: 800;
  color: #ffffff;
  font-size: 80px;
  display: table;
}

nav article a:after {
  border-bottom: 2px solid #c29b65;
  transition: .3s ease;
  position: absolute;
  bottom: 35px;
  content: "";
  width: 0%;
  left: 0;
}

nav article a:hover:after {width: 100%;}

nav.overlay .closebtn {
  text-decoration: none;
  position: absolute;
  color: #ffffff;
  font-size: 60px;
  z-index: 9999;
  right: 2.5%;
  top: 10px;
}

.overlay a:hover,
.overlay a:focus {
  color: #e2c043;
}

@media screen and (max-width: 450px){
  nav ul a { font-size: 50px;}
}

@media screen and (min-width: 451px) and (max-width: 1600px){
  nav ul a { font-size: 60px;}
}


/* S U B P A G E - H E A D I N G */
section.top-page {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
  text-align: center;
  margin-top: -20px;
  color: #ffffff;
  padding: 20vh 0;
}

section.top-page::after {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  opacity: .8;
  content: "";
  left: 0;
  top: 0;
}

section.top-page::after {
  z-index: 1;
}
section.top-page > * {
  position: relative;
  z-index: 100;
}

section.top-page h1 {
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #e2c043;
  font-size: 45px;
}

section.top-page p {
  font-size: 20px;
}

section.over-soundbike {
  background: url("../img/over-soundbike.jpg");
}


section.contactpage {background: url("../img/soundbike-contact.png");}
section.overpage {background: url("../img/over-header.png");}
section.portfoliopage {background: url("../img/portfolio-header.png");}


/* P O R T F O L I O  */
section.portfolio article:first-of-type {
  text-align: center;
  position: relative;
}

section.portfolio article:first-of-type:before {
  background-color: #e2c043;
  margin-left: 45px;
  position: absolute;
  margin-top: -15px;
  height: 300px;
  width: 300px;
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
}

section.portfolio {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  padding: 45px 0 0 0;
}

section.portfolio article{
  width: calc(100%/2);
}

section.portfolio article hr{
  border: 3px solid #e2c043;
  margin: 15px 0;
  width: 75px;
}




/* O V E R S O U N D B I K E */
section.oversoundbike article:first-of-type {
  text-align: center;
  position: relative;
}

section.oversoundbike article:first-of-type:before {
  background-color: #e2c043;
  margin-left: 150px;
  position: absolute;
  margin-top: -15px;
  height: 300px;
  width: 300px;
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
}

section#soundbikevoor {
  padding: 60px 0;
  text-align: center;
  background-color: #f1f1f1;
}

section.soundbikevoor {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  padding: 45px 0 0 0;
}

section.soundbikevoor article{
  width: calc(100%/3);
}

section.soundbikevoor .dot {
  background-color: #40434e;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 15px;
}

section.soundbikevoor .dot span {
  transform: translateY(20px);
  display: block;
}

@media screen and (max-width: 555px){
  section.oversoundbike article:first-of-type:before {
    margin-left: 40px;
    margin-top: -10px;
  }
}







/* C O N T A C T */
section#contact, section#oversoundbike {
  padding: 60px 0;
}

section.contact, section.oversoundbike {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

section.contact article, section.oversoundbike article {
  width: calc(100%/2);
}

section.contact article:last-of-type a {
  border: 1px solid rgba(51,51,51,0.4);
  text-decoration: none;
  color: #0c0c0c;
  font-size: 18px;
  display: block;
  padding: 30px;
  transition: .3s ease;
}

section.contact article:last-of-type a:hover {
  transform: scale(1.05);
}

section.contact article hr, section.oversoundbike article hr {
  border: 3px solid #e2c043;
  margin: 15px 0;
  width: 75px;
}

section.contact article a:last-of-type {
  margin-top: 30px;
}

section.contact article a .rotate svg{
  transform: rotate(90deg);
}

section.contact article a i {
  margin-right: 15px;
  color: #e2c043;
  font-size: 25px;
}

section.contact article h2,
section.oversoundbike article h2 {font-size: 25px;}









/* C O N T A C T F O R M U L I E R */
section.contactformulier {padding: 60px 0 0 0;}

form {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

form input {width: 49%;}

form textarea {
  padding: 15px 10px;
  margin: 15px auto;
  font-size: 16px;
  width: 99%;
}

input[type="text"], input[type="email"], input[type="tel"]{
  padding: 20px 10px;
  margin: 15px .5%;
  font-size: 16px;
}

input:focus, textarea:focus {
  outline: none !important;
  border:1px solid #e2c043;
  box-shadow: 0 0 1px #e2c043;
}

.submit{
  background-color: #e2c043;
  border: 3px solid #e2c043;
  text-transform: uppercase;
  margin: 15px 0 15px auto;
  transition: .3s ease;
  padding: 15px 10px;
  border-radius: 5px;
  color: #40434e;
  font-weight: 600;
  font-size: 16px;
  width: 300px;
}

.submit:hover {
  background-color: #40434e;
  border: 3px solid #40434e;
  color: #ffffff;
  cursor: pointer;

}

section.contactformulier h3 {
  position: relative;
  font-size: 20px;
}

section.contactformulier h3::before {
  background-color: #e2c043;
  z-index: -1 !important;
  position: absolute;
  margin-left: -20px;
  height: 20px;
  width: 60px;
  content: "";
  left: 0;
  top: 0;
}

@media screen and (max-width: 1000px){
  input[type="text"], input[type="email"], input[type="tel"]{margin: 15px 0;}
  form input, form textarea {width: 100%;}
  form, section.contact {display: block;}
  section.contact article {width: 100%;}


  section#contact {padding: 30px 0;}
  section.contact article:first-of-type {margin: 0 0 30px 0;}

  section.oversoundbike {display: block;}
  section.oversoundbike article {width: 100%;}

  section.soundbikevoor {display: block;}
  section.soundbikevoor article {width: 100%; padding: 15px 0;}


  section#oversoundbike {padding: 30px 0;}
  section.oversoundbike article:first-of-type {margin: 0 0 30px 0;}
}



/* F O O T E R */
footer {
  background-color: #40434e;
  padding: 0px 0 45px 0;
  text-align: center;
}

footer article a {
  transform: translateY(-25px);
  display: inline-block;
  text-decoration: none;
  transition: .3s ease;
  color: #ffffff;
  font-size: 20px;
  margin: 0 45px;
  padding: 5px 0;
}

footer article a:after {
  border-bottom: 2px solid #c29b65;
  transition: .3s ease;
  position: absolute;
  bottom: 0px;
  content: "";
  width: 0%;
  left: 0;
}

footer article a:hover:after {width: 100%;}

footer article a:hover {
  color: #e2c043;
}

footer img {
  transform: translatey(25px);
  border-radius: 50%;
  width: 125px;
}

@media screen and (max-width: 1000px){
  footer article a {
    transform: unset;
    display: block;
    margin: 0 0px;
  }

  footer {
    padding: 30px 0 30px 0;
    position: relative;
    text-align: left;
  }

  footer article img {
    position: absolute;
    right: 10%;
    top: 10%;
  }
}

@media screen and (max-width: 460px){
  footer article img {
    width: 100px;
    top: 15%;
  }
}


/* C O P Y R I G H T */
section.copyright {
  background-color: #1e2129;
  font-size: 14px;
  text-align: center;
  color: #b5b5b5;
  padding: 10px 0;
}

section.copyright span {
  font-weight: 600;
}

section.copyright a {
  text-decoration: none;
  color: #c5c2c2;
  font-weight: 600;
}

section.copyright a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1000px){
  section.copyright {text-align: left;}
}